<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>useion - detail <%= usecase.name %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel="stylesheet" href="/js/lib/highlight.js.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="/js/lib/bootstrap/bootstrap.min.js"></script>
    <script src="/js/lib/markdown-it.js"></script>
    <script src="/js/lib/css.escape.js"></script>
    <script src="/js/lib/highlight.pack.js"></script>

    <script src="/js/line.js"></script>
    <script src="/js/utils.js"></script>

</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <span><a href="/" target="_self">Go back</a></span>
      <span > | <a href="/<%= usecase.id %>.html" target="_self">Use case <%= usecase.name %></a></span>

    </div>
  </div>

  <% if (test_fragments.length > 0) { %>
  <div class="row">
    <div class="col col-md-4">
      <div class="toggle toggle-left">
        <a href="#" onclick="return toggle(this, 'code');"><span class="glyphicon glyphicon-arrow-left"></span></a>
      </div>
      <div id="code">

      </div>
    </div>
    <div class="col col-md-4">
      <div id="uc">

      </div>
    </div>
    <div class="col col-md-4">
      <div class="toggle toggle-right">
        <a href="#" onclick="return toggle(this, 'tests');"><span class="glyphicon glyphicon-arrow-right"></span></a>
      </div>
      <div id="tests">

      </div>
    </div>
  </div>

  <% } else { %>

    <div class="row">
      <div class="col-md-6">
        <div id="code">

        </div>
      </div>
      <div class="col-md-6">
        <div id="uc">

        </div>
      </div>
    </div>
  <% } %>
</div>

<script type="text/javascript">


function toggleControl () {
  $(".toggle").hide();

  $("#code, .toggle-left").mouseover(function() {
    $(".toggle-left").show();
  });
  $("#code, .toggle-left").mouseout(function() {
    $(".toggle-left").hide();
  });
  $("#tests, .toggle-right").mouseover(function() {
    $(".toggle-right").show();
  });
  $("#tests, .toggle-right").mouseout(function() {
    $(".toggle-right").hide();
  });

  window.toggle = function (link, t) {
    var col = $(link).closest(".col");
    col.closest(".row").find(".col").removeClass("col-md-4");
    col.closest(".row").find(".col").addClass("col-md-6");
    col.closest(".row").find(".toggle").addClass("hide");
    col.hide();
    setTimeout(function () {
      $(window).scroll();
    }, 0);
  }
}
toggleControl();



var elementPosition = $('#uc').offset();

$(window).scroll(function(){

  if ($(window).scrollTop() > elementPosition.top) {
      var elWidth = $('#uc').parent().width();
      $('#uc').css('position','fixed').css('top','0');
      $('#uc').css('height', '100%');
      $('#uc').css('width', elWidth+'px');
      $('#uc').css('overflow-y', 'auto');
  } else {
      $('#uc').css('position','static');
      $('#uc').css('height', 'auto');
      // $('#uc').css('width', 'auto');
  }

  $(".link-line").each(function () {
    window.line.updateLine($(this));
  });
});


var markLines = function (highlited) {
    var highlited_arr = highlited.split("\n");
    for ( i = 0; i < highlited_arr.length; i++) {
        highlited_arr[i] = "<span class='line line-start line-"+(i+1)+"'></span>" + highlited_arr[i] + "<span class='line line-end line-"+(i+1)+"'></span>";
    }
    highlited = highlited_arr.join("\n");
    return highlited;
};

var md = window.markdownit({
  highlight: function (str, lang) {
    if (lang === "feature") lang = "gherkin";
    if (lang && hljs.getLanguage(lang)) {
      try {
        return markLines(hljs.highlight(lang, str).value);
      } catch (__) {}
    }

    return ''; // use external default escaping
  }
});

var result = "<h2>Main scenario</h2>" + md.render(<%- JSON.stringify(main_tab2) %>);
$("#uc").html(result);
<% if (alternate_flow_steps.length !== 0) { %>
var result = "<h2>Alternate flows</h2>" + md.render(<%- JSON.stringify(alt_tab2) %>);
$("#uc").append(result);
<% } %>
<% if (Object.keys(relationship_coverages).length !== 0) { %>
// var result = "<h2>Relationships</h2>" + md.render(<%- JSON.stringify(rel_tab2) %>);
// $("#uc").append(result);

<% } %>

var markLinesUc = function () {
  var i = 0;
  $("#uc tbody tr").each(function () {
    var td_start = $(this).find("td:eq(0)"),
        td_end = $(this).find("td:eq(1)");

    if (td_end.length) {
      td_start.html("<span class='line line-start line-"+td_start.text().replace(".","")+"'></span>"+td_start.html());
      td_end.html(td_end.html()+"<span class='line line-end line-"+td_start.text().replace(".","")+"'></span>");
    } else {
      i++;
      td_start.html("<span class='line line-start line-"+i+"'></span>" +
                    td_start.html() +
                    "<span class='line line-end line-"+i+"'></span>");
    }
  });
}
markLinesUc();

$("#code").html(md.render(<%- JSON.stringify(code_section) %>));
$("#tests").html(md.render(<%- JSON.stringify(tests_section) %>));

setTimeout(function () {
  var connections_array = <%- JSON.stringify(connections_array) %>;

  for (var step_id in connections_array) {
    var cs = connections_array[step_id];
    for (var i in cs) {
      var c = cs[i];
      switch (c.fragment_section) {
        case "code":
            var l = $('#code h2:contains("'+CSS.escape(c.fragment_path)+'")')
                      .next()
                      .find("span.line-end.line-"+c.line);
            window.line.drawLine(
              $("#uc span.line-start.line-"+step_id.replace(".", "")),
              l
            );
          break;
        case "tests":
            var l = $('#tests h2:contains("'+CSS.escape(c.fragment_path)+'")')
                      .next()
                      .find("span.line-start.line-"+c.line);
            window.line.drawLine(
              $("#uc span.line-end.line-"+step_id.replace(".", "")),
              l
            );
          break;
      }
    }
  }
  $(window).scroll();
}, 0);

</script>

</body>
</html>
